<div class="small-container"  > 
    <table class="table row table2">
    <thead class="e-exam-primary-color">
 
      <tr class="row">

        <th class="col-6">اسم المقرر</th>
        <th class="col-6">الإتاحة</th>


    
      </tr>
    </thead>
    <tbody>
      <tr class="items row ">

        <td class="col-6  align-self-center">ويب </td>
        <td class="col-6 align-self-center"> 2023/4/5 <br> 12:00 مساءً - 12:00 مساءً </td>

      </tr>
      <tr class="items row ">

        <td class="col-6  align-self-center">برمجة 1</td>
        <td class="col-6 align-self-center"> 2023/4/7 <br> 12:00 مساءً - 12:00 مساءً </td>

      </tr>

      <tr class="items row ">

        <td class="col-6  align-self-center"> قواعد بيانات</td>
        <td class="col-6 align-self-center"> 2023/4/9 <br> 12:00 مساءً - 12:00 مساءً </td>

      </tr>

      
    </tbody>
  </table></div>