<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/eExamApp/bootstap/bootstrap.css">
    <link rel="stylesheet" href="../../../static/eExamApp/main/other_css2.css">
    <link rel="stylesheet" href="../../static/eExamApp/main/admin_styles2.css">

</head>
<body  >

    {% block admin_home_body %}

    {% endblock admin_home_body %}


    

      <script src="../../../static/eExamApp/js/popper.min.js"></script>
      <script src="../../../static/eExamApp/js/jquery-3.6.3.min.js"></script>
      <script src="../../../static/eExamApp/js/bootstrap.js"></script>
      <script src="../../../static/eExamApp/js/bootstrap.bundle.js"></script>
</body>
</html>