<header class="">
    <div class="px-3 py-2 text-bg">
      <div class="container2">
          
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


          <img width="70.877" height="105" src="../../../static/eExamApp/images/logo2.png" alt="">
          
          <ul class="nav nav-tabs col-6 col-lg-auto my-2 justify-content-start my-md-0 text-small">
            <li>
              <a  href="{% url 'admin_home' %}" class="nav-link ">  
  
                الطلبات المعلقة
    
              </a>
            </li>

          </ul>

          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          </a>  

            
        <div class="dropdown text-start ">
          <a href="#" class="d-block link-dark text-decoration-none " data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../../static/eExamApp/images/icons-user.png" alt="mdo" width="42" height="42" class="rounded-circle m-6">
            </a>

        </div>


        </div>

      </div>
    </div>
    

  </header>