{% extends 'home.html' %}

{% block home_body %}
  
  <!--------------------- teacher_header -------------------------->
    {% include "teacher/teacher_header.html" %}

  <!--------------------- teacher_body -------------------------->
              {% if view == 'dashboard' %}
                 {% include "teacher/dashboard.html" %}
                  
              {% elif view == 'students' %}
                 {% include "teacher/students.html" %} 

              {% endif %}

                         
              {% include "teacher/instruction.html" %}
            

            
{% endblock home_body %}


