{% extends 'model_body.html' %}


{% block model_body %}

<div class="form-container overflow-auto">
    <form action="{% url 'edit_model_questions' %}?id={{id}}&q=1" method="POST" name="edit_model_form">
      {% csrf_token %}      
        
            <div class="form-title" >
              <h1 class="modal-title fs-5" id="staticBackdropLabel" style="text-align: center;">إدراج سؤال </h1>
              
            </div>
           
              <div class="row">
                <div class="col-12">
                  <h1 style="font-size: 18px;">رقم السؤال 
                    <label for="no" class="form-label" style="background: #e2e9eb; width: 35px;height: 27px;text-align: center;">{{ questions|length|add:1 }}</label>
                  </h1>
                  
                </div>
              </div>

            
                <div class="col-12">
                  <h1 style="font-size: 18px;">نص السؤال</h1>
                </div>
        
                <div class="col-12">
    
                  <textarea name="question_text" class="form-control " id="qtext" rows="3" >{{question_text}}</textarea>
                </div>
    
                <div class="row justify-content-between">
               
                  <div class="col-4">
                    
                    <br>
                    <h1 style="font-size: 18px;">خيارات السؤال</h1>
                  </div>
                  <div class=" col-4">
                    <br>
                    <a onclick="add_options()" href="#" style="text-decoration: none;">
                      <h1 style="font-size: 14px;color: #63c4dd;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#63c4dd" class="bi bi-plus-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        اضافة خيار</h1>
    
    
                      </a>   
                   
                  </div>
                  <div class=" col-4">
                    <br>
                    <a onclick="delete_options()" href="#" style="text-decoration: none;">
                      <h1 style="font-size: 14px;color: #63c4dd;">
                        حذف خيار</h1>
    
    
                      </a>   
                   
                  </div>
                  </div>
                  <br>
    
    
                    <div id="option">

                      {% for option in options %}

                     <div class="row" id="op1">
                    <div class="col-1">
                      <label for="no" class="form-label" style="background: #e2e9eb; width: 62px;height: 39px;
                       font-size: 21px;text-align: center;"> {{ forloop.counter }}</label>
                    </div>
          
                  
                    <div class="col-11">
                      <input name="op{{ forloop.counter }}" class="form-control" list="datalistOptions" id="op_text{{ forloop.counter }}" value="{{option}}" >
                      
                    </div>
    
              
                  </div>

                  {% endfor %}
    
                  
                    </div>              
    
    
    
                  
                    <div class="col-12">
                      <br>
                      <h1 style="font-size: 18px;">رقم الاجابة الصحيحة</h1>
                    </div>
    
                    <div class="row justify-content-start" id="answer">
                      {% for option in options %}
                      <div class="col-2" id="inlineRadio1">
                        <br>
                        <div class="form-check form-check-inline">
                          <input  required class="form-check-input" type="radio" name="inlineRadioOptions"  value="{{ forloop.counter }}">
                          <label class="form-check-label" for="inlineRadio1">{{ forloop.counter }}</label>
    
                        </div>
    
    
                      </div>
                  {% endfor %}

    
                  
              </div>
    
    
              {% if error %}
              <div dir="rtl" class="alert alert-danger p-2 mt-2" style="font-size: 15px;text-align: center;" role="alert">{{error}}</div>
  
             {% endif %}
           
            <div class="row justify-content-end">
              <button type="button" class="btn btn-outline-danger col-2 m-2" data-bs-dismiss="modal">الغاء</button>
              <input type="submit" class="btn btn-outline-primary col-2 m-2"  value="إدراج" onclick="radio_attribute();">
             
          </div>
        </div>
    
    </form>
  </div>

{% endblock model_body %}