  <!-- Modal -->
  <div class="modal fade" id="teacher_instruction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">أقرا التعليمات</h1>
          <span dir="ltr"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></span>
        </div>
        <div class="modal-body">
          <br>
          {% lorem 5 p%}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">موافق</button>
         
      </div>
    </div>
  </div>