<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form Example</title>
    <link rel="stylesheet" href="../../../static/eExamApp/bootstap/bootstrap.css">
    <link rel="stylesheet" href="../../static/eExamApp/main/model_styles.css">

  </head>
  <body dir="ltr">
    <div class="form-container">
      <form action="{% url 'new_model' %}" method="POST">
        {% csrf_token %}

        <div class="form-title">نموذج جديد</div>
        <div class="form-field">
          <label class="form-lable" for="name">إسم النموذج</label>
          <input type="text" id="name" name="name" placeholder="ادخل اسم النموذج">   
        </div>
       


            <div class="select-container row">
              <div class="col-6">
                <label for="specialization"> التخصص</label>
              <select class=""  name="specialization" >
                  <option value="30:00" >30 دقيقة</option>
                  <option value="45:00">45 دقيقة</option>
                  <option value="01:00:00">ساعة</option>
                  <option value="01:30:00">ساعة و 30 دقيقة</option>
                  <option value="01:45:00">ساعة و 45 دقيقة</option>
                  <option value="02:00:00"> ساعتين</option>
                </select> 
              </div> 

              <div class="col-6">
                <label for="level"> المستوى</label>
              <select class=""  name="level" >
                  <option value="30:00" >30 دقيقة</option>
                  <option value="45:00">45 دقيقة</option>
                  <option value="01:00:00">ساعة</option>
                  <option value="01:30:00">ساعة و 30 دقيقة</option>
                  <option value="01:45:00">ساعة و 45 دقيقة</option>
                  <option value="02:00:00"> ساعتين</option>
                </select> 
              </div> 

               

              </div>

              <div class="row">
                <div class="col-4">
                  <label for="decision"> المقرر</label>
                <select class=""  name="decision" >

                  {% for decision in decisions %}

                    <option value="30:00" >{{decision.decision_ID}}</option>

                  {% endfor %}

                  </select> 
                </div> 
  
                <div class="col-4">
                  <label for="duration"> الزمن</label>
                <select class=""  name="duration" >
                    <option value="30:00" >30 دقيقة</option>
                    <option value="45:00">45 دقيقة</option>
                    <option value="01:00:00">ساعة</option>
                    <option value="01:30:00">ساعة و 30 دقيقة</option>
                    <option value="01:45:00">ساعة و 45 دقيقة</option>
                    <option value="02:00:00"> ساعتين</option>
                  </select> 
                </div> 
  
                 
  
                </div>
            


            {% if model_error %}
            <div dir="rtl" class="alert alert-danger p-2 mt-2" style="font-size: 15px;text-align: center;" role="alert">{{model_error}}</div>

           {% endif %}

        <input type="submit" value="إنشاء">
    </form>

    </div>


    
  </body>
</html>