body{
    background: #E5E9EB;
    direction: rtl;
    /* color: ; */
}

header{
    border-style: solid;
    border-width: 1px;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    background-color: white;
    color: #3F7A99;
    border: #3F7A99;
    border-style: solid;
    margin: 0;
    margin-left: 20px;
    padding: 5px 10px;
}
ul{
    padding-right: 10px;
}
svg{
    fill:#3f7a99;
    /* stroke-width: 20px; */
}
svg:hover{
    
    fill: #08202c;

}

path{
    height: 20px;
    width: 20px;
}

.e-exam-primary-color {
    color: #000 !important;
    background-color: #1f7ba2;
}

.nav-link {
    font-weight: bold;
    color: #3F7A99;


}
.nav-link:hover {
    color: #0d3950;

}

.nav-link:focus {
    color: #0d3950;

}
.text-bg {
    color: #fff!important;
    background-color: white;
}

.container2, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 20px;
    padding-left: 2px;
    /* margin-right: auto;
    margin-left: auto; */
}


.text-bg {
    color: #fff!important;
    background-color: white;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    background-color: white;
    color: #3F7A99;
    border: #3F7A99;
    border-style: solid;
    margin: 0;
    margin-left: 20px;

}

.btn-group > .btn:hover, .btn-group-vertical > .btn:hover{
    background-color: #3F7A99;
    color: white;

}


.btn-group > .btn:focus, .btn-group-vertical > .btn:focus{
    background-color: #61a0c2;
    color: white;

}

.btn-group > .btn:active, .btn-group-vertical > .btn:active{
    --bs-btn-active-border-color: #145b81;

}

.table > :not(caption) > * > * {

    border-bottom-width: 0;

}

.table2{
    box-shadow: 0px 2px 10px 0px rgb(5, 4, 4);
border-collapse: collapse;
border-radius: 1em;
overflow: hidden;
}

.items{
    border-top: #8f9395;
    border-top-style: solid;
    border-top-width: 1.5px;
    background-color: #e2e9eb;
    font-size: 14px;
    text-align: center;

    font-weight: bold;   
    color: black;
}
.itemlast{
    border-bottom-style: none;
}
tr{
    text-align: center;
    color: white;
}
.btnSerch{

    font-size: 10px;

}

a{
    color: #08A1FF;
    font-size: 20;
    text-decoration: none;
}

.valuation{
    color: #0BA420;
    font-weight: bold;
}
.search-form{
    background-color: darkcyan;
    color: white;
    font-weight: bold;


}
.search-form:hover{
    background-color: rgb(2, 103, 103);

}
.search-form:focus{
    background-color: rgb(2, 103, 103);
}

.card-form{
margin-bottom: 10px;
    background-color: #e2e9eb;   
}

.small-container{

    border-radius: 50px;
    margin: 2.5rem 15rem;
}

.exam-btn:hover{
    background-color: rgb(2, 103, 103);

}
.exam-btn:focus{
    color: white;
    background-color: rgb(2, 103, 103);

}

.fingerprint{
    width: 100px;
    height: 100px;
    margin: 8rem 11rem;
}

.choice{
    margin: 0 12% ;
    margin-top:3% ;
}

.save-button{
    color: white !important;
    background-color: #1f7ba2;

}
.save-button:hover{
    color: black;
    background-color: #5b9ab5;
    border-color: black;

}
.select-container select{

    /* margin-left: 10px; */
    border: 1px solid #0d475f;
    border-radius: 5px;
    width: 170px;
    color: #1f7ba2;
    font-size: 11px;
    outline: #08A1FF;
    cursor: pointer;
    text-align: center;
}
.select-container{
  margin-top: 20px;
}








