{% extends 'eExamApp\home.html' %}

{% block home_body %}

  <!--------------------- student_header -------------------------->
      {% include "eExamApp\student\student_header.html" %}


  <!--------------------- student_body -------------------------->

                {% if view == 'current_examinations' %}
                       {% include "eExamApp\student\current_examinations.html" %}
                {% elif view == 'previous_examinations' %}
                       {% include "eExamApp\student\previous_examinations.html" %}
                {% elif view == 'coming_examinations' %}
                       {% include "eExamApp\student\coming_examinations.html" %}

                {% endif %}
      
      
      

{% endblock home_body %}


