
  <div class="container mt-3 container-dark"> 
      <table class="table row table2">
      <thead class="e-exam-primary-color">
        <tr class="row h-60 ">

        </tr> 
        
  
        <tr class="row ">

          <th class="col-2 align-self-center">اسم النموذج </th>
          <th class="col-2">اسم المعلم</th>
          <th class="col-1">المستوى</th>
          <th class="col-1">التخصص </th>
          <th class="col-1">المقرر</th>
          <th class="col-2">تاريخ الامتحان</th>
          <th class="col-2">الوقت </th>
      
        </tr>
      </thead>
      <tbody>
        
        {% for model in models %}
        
        <tr class="items row ">

          <td class="col-2 align-self-center">{{model.name}}</td>
          <td class="col-2  align-self-center">{{model.teacher_ID}}</td>
          <td class="col-1  align-self-center">{{model.level_ID}}</td>
          <td class="col-1 align-self-center ">{{model.specialization_ID}}</td>
          <td class="col-1 align-self-center ">{{model.decision_ID}}</td>
          <form action="{% url 'model_success' %}?id={{model.id}}" method="post">
            {% csrf_token %}

            <td class="col-2">
              <input type="date" name="date" value="تحديد تاريخ الامتحان"/>
  
              </td>
              <td class="col-2">
                <input type="time" name="time" />
      
                </td>
  
              <td class="col-1">
                <input type="submit" class="btn btn-light "  value="تم "  />
  
                </td>
              
          </form>


        </tr>



      

        {% endfor%}
      </tbody>
    </table>
  </div>