<div class=" small-container " id="collapseExample"> 
    <table class="table row table2">
    <thead class="e-exam-primary-color">
 
      <tr class="row">
         

        <th class="col-4">اسم المقرر</th>
        <th class="col-3">الدرجـــة</th>
        <th class="col-3">التقييم</th>
    
      </tr>
    </thead>
    <tbody>
      <tr class="items row ">

        <td class="col-4  align-self-center">برمجة 1</td>
        <td class="col-3 align-self-center valuation">80</td>
        <td class="col-3 align-self-center valuation">ناجح</td>
        <td class="col-2 align-self-center "> <button class="btn btn-light btn-outline-dark btn-sm exam-btn">تفاصيل</button></td>
      </tr>

      <tr class="items row ">

        <td class="col-4  align-self-center">برمجة 1</td>
        <td class="col-3 align-self-center valuation">80</td>
        <td class="col-3 align-self-center valuation">ناجح</td>
        <td class="col-2 align-self-center "> <button class="btn btn-light btn-outline-dark btn-sm exam-btn">تفاصيل</button></td>
      </tr>
      <tr class="items row ">

        <td class="col-4  align-self-center">برمجة 1</td>
        <td class="col-3 align-self-center valuation">80</td>
        <td class="col-3 align-self-center valuation">ناجح</td>
        <td class="col-2 align-self-center "> <button class="btn btn-light btn-outline-dark btn-sm exam-btn">تفاصيل</button></td>
      </tr>
    </tbody>
  </table></div>