<div class="container mt-3 container-dark "> 

    <table class="table row table2 ">
    <thead class="e-exam-primary-color ">
 
      <tr class="row">

        <th class="col-3">اسم المقرر</th>
        <!-- <th class="col-3">الإتاحة</th> -->
        <th class="col-2">المـــدة</th>
        <th class="col-2">درجة الإمتحان </th>

    
      </tr>
    </thead>
    <tbody>
      

      {% if message %}
      
      <tr class="items row justify-content-center">
        <td class="col-6  align-self-center">{{message}}</td>

        </tr>
      {% else  %}

      <tr class="items row ">

        <form action="{% url 'exam' %}" method="post">
          {% csrf_token %}
          <td class="col-3  align-self-center">{{current_model.decision_ID.decision_name}}</td>
          <td class="col-2 align-self-center"> {{current_model.exam_duration}} </td>
          <td class="col-2  align-self-center">60</td>
          <td class="col-1  align-self-center"><input type="text" hidden name="model" value="{{current_model}}"></td>

          <td class="col-2 align-self-center"><input type="submit"  class="btn btn-light btn-outline-dark btn-sm exam-btn" value="دخول"></td>
  
        </form>


      </tr>
      {% endif %}


      
 
      
    </tbody>
  </table></div>