<div class="container mt-3 container-dark "> 

    <table class="table row table2 ">
    <thead class="e-exam-primary-color ">
 
      <tr class="row">

        <th class="col-3">اسم المقرر</th>
        <th class="col-3">الإتاحة</th>
        <th class="col-2">المـــدة</th>
        <th class="col-1">عدد الأسئلة</th>
        <th class="col-2">درجة الإمتحان </th>

    
      </tr>
    </thead>
    <tbody>
      <tr class="items row ">

        <td class="col-3  align-self-center">برمجة 1</td>
        <td class="col-3 align-self-center"> 2023/4/5 <br> 12:00 مساءً - 12:00 مساءً </td>
        <td class="col-2 align-self-center">2 ساعات</td>
        <td class="col-1 align-self-center">20</td>
        <td class="col-2  align-self-center">60</td>
        <td class="col-1 align-self-center"><a href="{% url 'exam' %}"  class="btn btn-light btn-outline-dark btn-sm exam-btn">دخول</a></td>


      </tr>
 
      
    </tbody>
  </table></div>