<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="UTF-8">
        <title>exam</title>
        <link rel="stylesheet" href="../../../static/eExamApp/bootstap/bootstrap.css">
        <link rel="stylesheet" href="../../../static/eExamApp/main/exam_style.css">
        <link rel="stylesheet" href="../../../static/eExamApp/main/style2.css">

       
      
    </head>
<body>

  <form action="{% url 'result' %}" method="post">
    {% csrf_token %}


    <!-- As a link -->
    
    <div class="container-fluid mx-4" style="background-color: #3F7A99; border-radius: 5px;">
      <img width="45.877" height="70" src="../../../static/eExamApp/images/logo1.png" alt="">


    
    </div>
  

	  <!-- timer-->
    
        <div class="row align-items-center justify-content-between" style="height: 90px;
        background-color: #fff;">
         
              
            <!-- partial:index.partial.html -->
            <div id="app" class="col-1 ">
              
            </div>
            <!-- partial -->
         
             

            
               
          


   
            
              
            <div class="col-3 btn btn-danger mx-3 mb-3"  id="exfin" style="font-size: 15px; padding: 10px 10px;">
              <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg></span>
                انهاء الاختبار</div>
               
        </div>
        
        <div class="row justify-content-between align-items-center" style="background-color: rgb(241, 240, 245);height: 80px;width: 1360px;
        border-radius: 20px ">
    
            <div class="col-2 m-4 " style="font-size: 20px;text-shadow: #145b81;">
              <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#145b81" class="bi bi-question-diamond-fill" viewBox="0 0 16 16">
                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM5.495 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
              </svg></span> جميع الاسئلة </div>



            <div class="col-2 mt-2" style="font-size: 17px ;text-shadow: #145b81;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-calculator-fill" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5zm0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zM4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zM7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5h-1z"/>
                  </svg></span>
                      </button>
                     
                      <!-- Modal -->
                      <div  class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered " style="background-image:linear-gradient(45deg,#fff 15% ,#145b81 50%) ;">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">الة حاسبة</h1>
                              <span dir="ltr"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></span>
                            </div>
                            <div class="modal-body">
                    
                                <div class="container">
                                    <div class="calculator dark">
                                        <div class="theme-toggler active">
                                            <i class="toggler-icon"></i>
                                        </div>
                                        <div class="display-screen">
                                            <div id="display"></div>
                                        </div>
                                        <div class="buttons">
                                            <table>
                                                <tr>
                                                    <td><button class="btn-operator" id="clear">C</button></td>
                                                    <td><button class="btn-operator" id="/">&divide;</button></td>
                                                    <td><button class="btn-operator" id="*">&times;</button></td>
                                                    <td><button class="btn-operator" id="backspace"></button></td>
                                                </tr>
                                                <tr>
                                                    <td><button class="btn-number" id="7">7</button></td>
                                                    <td><button class="btn-number" id="8">8</button></td>
                                                    <td><button class="btn-number" id="9">9</button></td>
                                                    <td><button class="btn-operator" id="-">-</button></td>
                                                </tr>
                                                <tr>
                                                    <td><button class="btn-number" id="4">4</button></td>
                                                    <td><button class="btn-number" id="5">5</button></td>
                                                    <td><button class="btn-number" id="6">6</button></td>
                                                    <td><button class="btn-operator" id="+">+</button></td>
                                                </tr>
                                                <tr>
                                                    <td><button class="btn-number" id="1">1</button></td>
                                                    <td><button class="btn-number" id="2">2</button></td>
                                                    <td><button class="btn-number" id="3">3</button></td>
                                                    <td rowspan="2"><button class="btn-equal" id="equal">=</button></td>
                                                </tr>
                                                <tr>
                                                    <td><button class="btn-operator" id="(">(</button></td>
                                                    <td><button class="btn-number" id="0">0</button></td>
                                                    <td><button class="btn-operator" id=")">)</button></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="modal-footer" style="padding: 20px;">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Close </button>
                             
                            </div>
                          </div>
                        </div>
                      </div></div>
         
               
          </div>
        </div>

            
        <div class="row "  >

          <div class="col-2">
            <div class=" col-8 " style="height: 410px; width: 200px;" >
          {% for question in questions %}

            <div id="list-example" class="list-group mb-1" >
              <a class="list-group-item list-group-item-action btn-primary" style="height:40PX ; width:170px ; text-align: center;
              font-size: 20px;color: black;" href="#list-item-{{forloop.counter}}">س{{forloop.counter}}</a>
             
            </div>
            {% endfor %}

          </div>
        </div>


          <div   dir="rtl"  class="overflow-scroll col-8 " style="height: 400px;  width: 1000px;">
            
            {% for question in questions %}
        
          <div  style="background-color:white">
            <div data-bs-spy="scroll" data-bs-target="#list-example" 
            data-bs-smooth-scroll="false" class="scrollspy-example" tabindex="0">
            <br>
              
              <h4  dir="rtl" id="list-item-{{forloop.counter}}" style="font-size: 20px;">السؤال رقم {{ forloop.counter }}</h4>
              <input  class="form-control"  style="background-color: #3F7A99; font-size: 20px;color: #ffffff;"
              type="text"  value="{{question.question_text}}"  dir="rtl" 
              aria-label="Disabled input example" name="question{{forloop.counter}}">
   

              {% for option in question.option %}
              <div class="col-2" style=" width:950px;background-color: rgb(241, 240, 245); font-size: 18px;">
                <br>
                <div class="form-check form-check-inline" >
                  <input dir="ltr" class="form-check-input" type="radio" id="option{{question.id}}{{forloop.counter}}" name="option{{question.id}}"  value="{{forloop.counter}}">
                  <label class="form-check-label"  for="option{{question.id}}{{forloop.counter}}">{{option}}</label>

                </div>


              </div>


              {% endfor %}

              </div>
              <br>
            </div>

            {% endfor %}


            </div>
            <div class="row justify-content-center">
              <input type="submit" class="btn btn-success col-2 m-2"  value="تقديم" >
             
          </div> 
          </div>
          
        </div>

        </div>



      
       

  
             
          

         

          
          
        

      </form>

      <input type="text" hidden name="{{model}}">
       
        <script> 
	
            var s=60 ; 
            var m=120;
            var time= setInterval(function() {timer()}, 1000); 
            
            function timer(){ 
            
            s--; 
            if(s==-1){ 
            m--; 
            s=59; 
            
            if(m==-1){ 
            m=0; 
            s=0; 
            
            clearInterval(time); 
            alert("انتهى الوقت المحدد للتأكيد"); 
            } 
            
            } 
            
            document.getElementById("m").innerHTML = m; 
            document.getElementById("s").innerHTML = s; 
            
            } 
            
            
            </script>

            <script>
              // Credit: Mateusz Rybczonec

const FULL_DASH_ARRAY = 283;
const WARNING_THRESHOLD = 10;
const ALERT_THRESHOLD = 5;

const COLOR_CODES = {
  info: {
    color: "green"
  },
  warning: {
    color: "orange",
    threshold: WARNING_THRESHOLD
  },
  alert: {
    color: "red",
    threshold: ALERT_THRESHOLD
  }
};

const TIME_LIMIT =10800;
let timePassed = 0;
let timeLeft = TIME_LIMIT;
let timerInterval = null;
let remainingPathColor = COLOR_CODES.info.color;

document.getElementById("app").innerHTML = `
<div class="base-timer">
  <svg width="75" height="75" class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="base-timer__circle">
      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
      <path
        id="base-timer-path-remaining"
        stroke-dasharray="283"
        class="base-timer__path-remaining ${remainingPathColor}"
        d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "
      ></path>
    </g>
  </svg>
  <span id="base-timer-label" class="base-timer__label">${formatTime(
    timeLeft
  )}</span>
</div>
`;

startTimer();

function onTimesUp() {
  clearInterval(timerInterval);
}

function startTimer() {
  timerInterval = setInterval(() => {
    timePassed = timePassed += 1;
    timeLeft = TIME_LIMIT - timePassed;
    document.getElementById("base-timer-label").innerHTML = formatTime(
      timeLeft
    );
    setCircleDasharray();
    setRemainingPathColor(timeLeft);

    if (timeLeft === 0) {
      onTimesUp();
    }
  }, 1000);
}

function formatTime(time) {
  var hour=0;
 minutes = Math.floor(time / 60);
  let seconds = time % 60;
  if(time>=3600){
    hour=Math.floor(time/60/60)
    minutes = Math.floor((time/60/60-hour)*60);
  }



  if (seconds < 10) {
    seconds = `0${seconds}`;
  }
  if(seconds>=3600)
  {
    
  }

  return `${hour}:${minutes}:${seconds}`;
}

function setRemainingPathColor(timeLeft) {
  const { alert, warning, info } = COLOR_CODES;
  if (timeLeft <= alert.threshold) {
    document
      .getElementById("base-timer-path-remaining")
      .classList.remove(warning.color);
    document
      .getElementById("base-timer-path-remaining")
      .classList.add(alert.color);
  } else if (timeLeft <= warning.threshold) {
    document
      .getElementById("base-timer-path-remaining")
      .classList.remove(info.color);
    document
      .getElementById("base-timer-path-remaining")
      .classList.add(warning.color);
  }
}

function calculateTimeFraction() {
  const rawTimeFraction = timeLeft / TIME_LIMIT;
  return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
}

function setCircleDasharray() {
  const circleDasharray = `${(
    calculateTimeFraction() * FULL_DASH_ARRAY
  ).toFixed(0)} 283`;
  document
    .getElementById("base-timer-path-remaining")
    .setAttribute("stroke-dasharray", circleDasharray);
}
            </script>
        
    
        <script src="../../../static/eExamApp/js/popper.min.js"></script>
        <script src="../../../static/eExamApp/js/jquery-3.6.3.min.js"></script>
        <script src="../../../static/eExamApp/js/bootstrap.js"></script>
        <script src="../../../static/eExamApp/js/bootstrap.bundle.js"></script>
        <script src="../../../static/eExamApp/js/script.js"></script>
        <!-- <script src="../../../static/eExamApp/js/timer.js"></script> -->

</body>
   
</html> 