{% extends 'system_admin/admin_home.html' %}

{% block admin_home_body %}

<div class=" small-container " id="collapseExample"> 
  <table class="table row table2">
  <thead class="e-exam-primary-color">

    <tr class="row justify-content-center">
       

      <th class="col-6">المقررات  </th>
  
    </tr>
  </thead>
  <tbody>
    <tr class="items row justify-content-between">
      <form action="{% url 'decision_models' %}" method="post"> 
      <td class="col-4  align-self-center">برمجة 1</td>
      <td class="col-3">
          {% csrf_token %}
        <input type="submit" class="btn btn-light  "  value="عرض النماذج" />

        </form>

        </td>
   </tr>

   <tr class="items row justify-content-between">
    <form action="{% url 'decision_models' %}" method="post"> 
    <td class="col-4  align-self-center">رسم بالحاسوب</td>
    <td class="col-3">
        {% csrf_token %}
      <input type="submit" class="btn btn-light  "  value="عرض النماذج" />

      </form>

      </td>
 </tr>

 <tr class="items row justify-content-between">
  <form action="{% url 'decision_models' %}" method="post"> 
  <td class="col-4  align-self-center">ويب </td>
  <td class="col-3">
      {% csrf_token %}
    <input type="submit" class="btn btn-light  "  value="عرض النماذج" />

    </form>

    </td>
</tr>


  </tbody>
</table></div>

{% endblock admin_home_body %}