<div class=" small-container " id="collapseExample"> 
    <table class="table row table2">
    <thead class="e-exam-primary-color">
 
      <tr class="row justify-content-center">
         

        <th class="col-6">أسماء المعلمين </th>
    
      </tr>
    </thead>
    <tbody>
      <tr class="items row justify-content-between">

        <td class="col-4  align-self-center"> نورالدين أحمد حسن فتاحي</td>
        <td class="col-3">
          <form action="{% url 'teacher_decisions' %}" method="post">
            {% csrf_token %}
          <input type="submit" class="btn btn-light  "  value="عرض المقررات" />

          </form>

          </td>
     </tr>

     
   <tr class="items row justify-content-between">

    <td class="col-4  align-self-center"> أيمن محمد حاجب</td>
    <td class="col-3">
      <form action="{% url 'teacher_decisions' %}" method="post">
        {% csrf_token %}
      <input type="submit" class="btn btn-light  "  value="عرض المقررات" />

      </form>

      </td>
 </tr>

     <tr class="items row justify-content-between">

      <td class="col-4  align-self-center"> محمد عبده غلاب </td>
      <td class="col-3">
        <form action="{% url 'teacher_decisions' %}" method="post">
          {% csrf_token %}
        <input type="submit" class="btn btn-light  "  value="عرض المقررات" />

        </form>

        </td>
   </tr>

 

 <tr class="items row justify-content-between">

  <td class="col-4  align-self-center">مهيب عبدالله المروني</td>
  <td class="col-3">
    <form action="{% url 'teacher_decisions' %}" method="post">
      {% csrf_token %}
    <input type="submit" class="btn btn-light  "  value="عرض المقررات" />

    </form>

    </td>
</tr>


    </tbody>
  </table></div>