{% extends 'system_admin/admin_home.html' %}

{% block admin_home_body %}

<div class="container mt-3 container-dark"> 
    <table class="table row table2">
    <thead class="e-exam-primary-color">
      <tr class="row h-60 ">

      </tr> 
       
 
      <tr class="row">
         


        <th class="col-2">اسم النموذج</th>
        <th class="col-2">المستوى</th>
        <th class="col-2">التخصص </th>
        <th class="col-2">تاريخ الامتحان</th>
        <th class="col-2">حالة النموذج</th>

    
      </tr>
    </thead>
    <tbody>


      
      <tr class="items row ">
        <td class="col-2  align-self-center">نموذج 1</td>
        <td class="col-2  align-self-center">رابع</td>
        <td class="col-2 align-self-center ">علوم حاسوب</td>
        <td class="col-2 align-self-center"> 2023/4/5 <br> 12:00 مساءً - 12:00 مساءً </td>
        <td class="col-2 align-self-center  " style="color: brown;">لم يتم إختباره </td>

      </tr>

       
      <tr class="items row ">
        <td class="col-2  align-self-center">نموذج 2</td>
        <td class="col-2  align-self-center">رابع</td>
        <td class="col-2 align-self-center ">علوم حاسوب</td>
        <td class="col-2 align-self-center"> 2023/4/5 <br> 12:00 مساءً - 12:00 مساءً </td>
        <td class="col-2 align-self-center  " style="color: brown;">لم يتم إختباره </td>

      </tr>

       
      <tr class="items row ">
        <td class="col-2  align-self-center">نموذج 3</td>
        <td class="col-2  align-self-center">رابع</td>
        <td class="col-2 align-self-center ">علوم حاسوب</td>
        <td class="col-2 align-self-center"> 2023/4/5 <br> 12:00 مساءً - 12:00 مساءً </td>
        <td class="col-2 align-self-center  " style="color: brown;">لم يتم إختباره </td>

      </tr>

       
      <tr class="items row ">
        <td class="col-2  align-self-center">نموذج 4</td>
        <td class="col-2  align-self-center">رابع</td>
        <td class="col-2 align-self-center ">علوم حاسوب</td>
        <td class="col-2 align-self-center"> 2023/4/5 <br> 12:00 مساءً - 12:00 مساءً </td>
        <td class="col-2 align-self-center  " style="color: brown;">لم يتم إختباره </td>

      </tr>

       
      <tr class="items row ">
        <td class="col-2  align-self-center">نموذج 5</td>
        <td class="col-2  align-self-center">رابع</td>
        <td class="col-2 align-self-center ">علوم حاسوب</td>
        <td class="col-2 align-self-center"> 2023/4/5 <br> 12:00 مساءً - 12:00 مساءً </td>
        <td class="col-2 align-self-center  " style="color: brown;">لم يتم إختباره </td>

      </tr>

      <tr class="items row ">
        <td class="col-2  align-self-center">نموذج 6</td>
        <td class="col-2  align-self-center">رابع</td>
        <td class="col-2 align-self-center "> IT</td>
        <td class="col-2 align-self-center"> 2023/4/5 <br> 12:00 مساءً - 12:00 مساءً </td>
        <td class="col-2 align-self-center  valuation">تم إختباره </td>
        <td class="col-2">
            <form action="{% url 'result_students' %}" method="post">
              {% csrf_token %}
            <input type="submit" class="btn btn-light  "  value="عرض النتائج" />
    
            </form>
    
            </td>

      </tr>

      <tr class="items row ">
        <td class="col-2  align-self-center">نموذج 7</td>
        <td class="col-2  align-self-center">رابع</td>
        <td class="col-2 align-self-center "> IT</td>
        <td class="col-2 align-self-center"> 2023/4/5 <br> 12:00 مساءً - 12:00 مساءً </td>
        <td class="col-2 align-self-center  valuation">تم إختباره </td>
        <td class="col-2">
            <form action="{% url 'result_students' %}" method="post">
              {% csrf_token %}
            <input type="submit" class="btn btn-light  "  value="عرض النتائج" />
    
            </form>
    
            </td>

      </tr>

      <tr class="items row ">
        <td class="col-2  align-self-center">نموذج 8</td>
        <td class="col-2  align-self-center">رابع</td>
        <td class="col-2 align-self-center "> IT</td>
        <td class="col-2 align-self-center"> 2023/4/5 <br> 12:00 مساءً - 12:00 مساءً </td>
        <td class="col-2 align-self-center  valuation">تم إختباره </td>
        <td class="col-2">
            <form action="{% url 'result_students' %}" method="post">
              {% csrf_token %}
            <input type="submit" class="btn btn-light  "  value="عرض النتائج" />
    
            </form>
    
            </td>

      </tr>


    </tbody>
  </table>
</div>

{% endblock admin_home_body %}