<!doctype html>
<html lang="en">
  <head>
  	<title>Login 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../static/eExamApp/main/login_styles.css">
	<link rel="stylesheet" href="../static/eExamApp/bootstap/bootstrap.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">

			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url(../static/eExamApp/images/exam_image.jpg);"></div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100 row justify-content-center" >
			      			<h3 class="mb-4 col-6" > تسجيل الدخول</h3>
			      		</div>

			      	</div>
							<form method="POST"  name="teacher_form"  action="{% url 'teacher_login' %}?l=0" class="signin-form">
								{% csrf_token %}

								<div class="form-group mt-3">
			      			<input name="ID" type="text" class="form-control" >
			      			<label class="form-control-placeholder" for="username">الرقم الوظيفي</label>
			      		</div>
		            <div class="form-group">
		              <input name="password" id="password-field" type="password" class="form-control" 	>
		              <label class="form-control-placeholder" for="password">كلمة السر</label>
		              <span toggle="#password-field" class="  toggle-password"></span>
		            </div>
					{% if teacher_error %}
					<div class="alert alert-danger p-2" role="alert">{{teacher_error}}</div>

				{% endif %}
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3"> تسجيل الدخول</button>
		            </div>

		            </div>
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="../../../static/eExamApp/js/popper.min.js"></script>
	<script src="../../../static/eExamApp/js/jquery-3.6.3.min.js"></script>
	<script src="../../../static/eExamApp/js/bootstrap.js"></script>
	<script src="../../../static/eExamApp/js/bootstrap.bundle.js"></script>

	</body>
</html>

